@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
   
    background: #252839;
}
header{
    color: beige;
    text-align: center;
    font-size: 50px;
}
header:hover{
    color:aqua;
}
ul{
    margin: 100px;
    justify-content: center;
    display: flex;
    flex-direction:row;
    gap: 50px;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    position: relative;
    font-size: 4em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke:1px  rgba(255,255,255,0.5);
}
ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    overflow: hidden;
    width: 0;
    transition: 0.5s;
    border-right:8px solid var(--clr);
    -webkit-text-stroke:1px   var(--clr);
}
ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
    -webkit-text-stroke:1px   var(--clr);
}
.container{
    margin: 20px auto;
    max-width: 600px;;
}
.squares{
    background-color: red;
    width: 12%;
    margin:1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 50%;
    transition: background 0.7s;
    
}
.message{
    float: left;
    margin: 60px;
    color: white;
}

.foot{
    color: white;
    float:right;
    margin: 150px;
    font-size: 29px;

}
.foot:hover{
    color: brown;
}
#message{
    color: white;
    float:left;
    margin: 30px;
    font-size: 30px;
}